@charset "utf-8";
/* CSS Document */

div#contentInfo {
text-indent:0px;
background-color: #fbfbfb;
border-left: #d2d2d2 1px solid;
border-right: #d2d2d2 1px solid;
border-top: #d2d2d2 1px solid;
border-bottom: #d2d2d2 1px solid;
padding:10px;
}

div#leftContainer h1 {
border-top:#d2d2d2 1px solid;
border-left:#d2d2d2 1px solid;
border-right:#d2d2d2 1px solid;
padding:5px 5px 5px 10px;
background-color:#0fa6f8;
color:#ffffff;
font-size:15px;
font-weight:bold;
}

div#leftContainer div#contentInfo img {
float:left;
padding:8px 10px 0px 5px;
width:150;
height:150;
}

div#leftContainer div#contentInfo h2 {
font-size:13px;
font-weight:bold;
}

div#leftContainer div#contentInfo p {
text-align:justify;
text-indent:15px;
}

/* ----- masking credit cards -----*/
div#floatBox {
width:200px;
float:right;
padding:5px 10px 0px 10px;
}

div#floatBox ul {
list-style:none;
border-top:#d2d2d2 10px solid;
border-right:#d2d2d2 1px solid;
border-bottom:#d2d2d2 1px solid;
border-left:#d2d2d2 1px solid;
padding:6px 10px 0px 10px;
}

div#floatBox ul li {
border-bottom:#d2d2d2 1px solid;
}
/* ----- masking credit cards -----*/

div#leftPanel
{
float: left;
border-right: 1px solid #000000;
width: 670px;;
text-align:center;
background: none;
}